body {
	background: #0b1416;
	font-family: "Poppins", sans-serif;
	color: white;
}

header ul {
	display: flex;
	gap: 20px;
}

header ul li {
	list-style-type: none;
}

header ul li a {
	color: white;
	text-decoration: none;
}

input:checked + label {
	text-decoration: line-through;
	color: #013f4db6;
}

.form-control::placeholder {
	color: gray;
}

.card {
	background-color: #223237;
	border-radius: 50px;
}

input.form-control {
	background-color: #223237;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border: none;
	margin-right: 6px;
}

.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation)
	> .form-floating:not(:last-child)
	> .form-control,
.input-group:not(.has-validation)
	> .form-floating:not(:last-child)
	> .form-select,
.input-group:not(.has-validation)
	> :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
		.form-floating
	) {
	border-radius: 50px;
	box-shadow: none;
}

.input-group
	> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
		.valid-feedback
	):not(.invalid-tooltip):not(.invalid-feedback) {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.botton1 {
	background-color: #00000000;
	border: none;
}

.botton1:hover {
	background-color: #d1a66a;
}

h1 {
	color: white;
}

li {
	list-style-type: none;
	font-size: 24px;
	color: rgb(196, 196, 196);
	text-align: left;
	/* border-bottom: solid 1px #22323794; */
	margin-bottom: 10px;
}

/* Footer features list */
dl,
ol,
ul {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

.description {
	color: #d1a66a;
}

.tech-title {
	margin: 0;
}

li::marker {
	color: #d1a66a;
}

.feature-list li {
	color: rgb(196, 196, 196);
	font-size: 16px;
	list-style-type: disc;
}

.todoItem-container {
	display: grid;
	justify-content: center;
	margin-top: 20px;
}

label {
	margin-left: 20px;
}

.checkmark {
	background-color: #223237;
}

/* Animations */
/* Navbar Animation */
.cover-container {
	position: relative;
	top: -80px;
	opacity: 1;
	animation: slidedown 1s forwards;
	animation-delay: 1s;
}

@keyframes slidedown {
	from {
		top: -80px;
		opacity: 0;
	}
	to {
		top: 0px;
		opacity: 1;
	}
}

/* Main Form Animation */
.main-container {
	opacity: 1;
	/* Add animation properties */
	animation: fadeIn 1s ease-in;
}

.main-footer-description {
	opacity: 0;
	animation: fadeIn 1s ease-in forwards;
	animation-delay: 2s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* End of animations */

/* Responsive Rules */
@media (max-width: 767.98px) {
	body > div {
		min-width: 100% !important;
	}

	.nav {
		margin-top: 20px;
	}

	.card {
		min-width: 100%;
	}
}

@media (min-width: 768px) {
	body > div {
		min-width: 50% !important;
	}
}
